.adminLogin {
  background: url(/public/images/backgound.jpg) 100%;
  background-repeat: repeat;
  background-position: top;
  background-size: 100%;
  min-height: 700px;
}

.adminLogin .countryNumber .countryCode__control {
  min-height: auto !important;
  border-bottom: 1px solid #e2e2e2 !important;
  border-top: none !important;
  border-radius: 0;
  border-left: 0;
  border-right: 0;
}
.adminLogin .countryNumber .countryCode__control .main_input {
  height: 40px;
}
/* popup */
.adminEmailBox {
  border-radius: 10px;
  box-shadow: 0 30px 35px rgba(0, 0, 0, 0.11);
  background: #fff;
}
.showPasswordLogin {
  position: absolute;
  bottom: 12px;
  right: 17px;
}

.adminLoginBox {
  border-radius: 10px;
  box-shadow: 0 30px 35px rgba(0, 0, 0, 0.11);
  background: #fff;
}
.footBallImg img {
  border-radius: 0 10px 10px 0px;
}
.adminLoginBox label {
  font-size: 16px;
  font-weight: 500;
  color: #838692;
}
.adminLoginBox input {
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: transparent transparent #e2e2e2 transparent;
  border-radius: 0;
  width: 100%;
  padding: 0 0;
  height: 40px;
  font-size: 20px;
  font-weight: 500;
  color: #393f51;
}
.adminLoginBox input:focus {
  box-shadow: none;
}
.forgot a {
  text-decoration: underline;
  color: #316cf4;
  font-weight: 500;
  font-size: 18px;
}
.adminLoginBox button {
  width: 100%;
  height: 54px;
  background: #316cf4;
  text-align: center;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 600;
  margin-top: 20px;
  transition: all 0.5s;
}
.adminLoginBox button:hover {
  background: linear-gradient(
    90deg,
    #154092 0%,
    #2b6bf3 23.96%,
    #46a2ed 64.58%,
    #66cbe4 85.94%,
    #67e0c8 100%
  );
}
.adminLoginBox form {
  max-width: 322px;
  margin: 0 auto;
}
.or {
  text-align: center;
  position: relative;
  margin: 20px 0;
}
.or span {
  font-size: 14px;
  color: #959eb1;
  font-weight: 500;
  text-align: center;
  display: inline-block;
  background: #fff;
  position: relative;
  z-index: 1;
  min-width: 50px;
}
.or::after {
  width: 100%;
  height: 1px;
  background: #e2e2e2;
  content: "";
  position: absolute;
  top: 11px;
  left: 0;
}

.loginOption {
  padding: 0;
  display: flex;
}
.loginOption li {
  margin-bottom: 10px;
}

.loginOption li a {
  /* border: 1px solid #e1e4e8;
  border-radius: 5px;
  padding: 10px 15px;
  display: block;
  text-decoration: none;
  font-size: 12px;
  font-weight: 600;
  color: #959eb1; */
  border: 1px solid #e1e4e8;
  border-radius: 39px;
  padding: 0px 15px;
  display: block;
  text-decoration: none;
  font-size: 12px;
  color: #959eb1;
  padding-left: 33px;
  margin-left: 11px;
}
.loginOption li img {
  height: 25px;
  margin-right: 30px;
}
.loginOption li:nth-child(1) a:hover {
  border-color: #e54335;
}
.loginOption li:nth-child(2) a:hover {
  border-color: #000;
}
.loginOption li:nth-child(3) a:hover {
  border-color: #1877f2;
}
.dontAccount {
  color: #959eb1;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}
.dontAccount a {
  font-weight: 600;
  text-decoration: none;
}

.materialDate .MuiStack-root {
  padding: 0px;
}
.materialDate .MuiStack-root fieldset {
  border: 0px;
}
.date.materialDate input {
  height: 48px;
  background-position: 95% 10px;
}
.materialDate .css-4jnixx-MuiStack-root > .MuiTextField-root {
  width: 100%;
}
.materialDate .MuiStack-root {
  width: 100%;
}

.cmnHeight {
  min-height: 100vh;
  display: flex;
  align-items: center;
}
.timer {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 8px;
}

.couponList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 30px;
  padding: 0;
}
.item_1 {
  border: 1px solid #dee7fc;
  border-radius: 10px;
  background: #fff;
  width: 100%;
}
.item_1 img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}
.item_1 p {
  font-size: 16px;
  font-weight: 500;
  padding: 20px 0;
  min-height: 88px;
}
.couponTitle h2 {
  font-size: 18px;
  color: #434950;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.couponTitle span {
  font-size: 14px;
  color: #316cf4;
  display: inline-block;
}
.public {
  background: #316cf4;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  box-shadow: 0 10px 10px rgba(49, 108, 244, 0.4);
  padding: 8px 15px;
}
.und {
  background: #ffb45c;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  box-shadow: 0 10px 10px rgba(255, 180, 92, 0.4);
  padding: 8px 15px;
}

.pricePoints {
  font-size: 20px;
  font-weight: 600;
  color: #000;
}
.pricePoints img {
  width: 30px;
}
.pricePoints p {
  font-size: 20px;
  font-weight: 400;
  padding: 0;
  min-height: auto;
}

.contry {
  border: 1px solid #316cf4;
  font-size: 19px;
  padding: 4px 15px;
  border-radius: 10px;
  font-weight: 500;
}

.filterSearch .magSearch {
  display: none;
}

.filterSearch {
  background: none;
  padding: 24px 0px;
  margin-bottom: 25px;
}

.filterSearch .searchFields {
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
  padding: 0px;
}

.filterSearch ul li {
  margin-right: 8px;
}
.createSponser {
  min-width: 150px;
  background: #19be52;
  color: #fff;
  border-radius: 8px;
  padding: 10px 17px;
  font-weight: 500;
  font-size: 16px;
}

/* .filterSearch ul li{margin-right: 20px;}
.createSponser{background: #19BE52; color: #fff; border-radius:8px; padding: 10px 20px; font-weight: 500;font-size: 18px;} */
.createSponser.blue {
  background: #316cf4;
}

.filterSearch select {
  border: 1px solid #eaedf2;
  border-radius: 8px;
  padding: 11px 15px 11px 40px;
  background: url(/public/images/ios-arrow-down.png) no-repeat 100% center #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  min-width: 190px;
  width: 100%;
  height: 50px;
  color: #7c8188;
  font-size: 16px;
}
.loc {
  position: absolute;
  top: 14px;
  left: 11px;
}
.searchCoupon {
  border: 1px solid #eaedf2;
  border-radius: 8px;
  background: #fff;
  height: 50px;
  display: flex;
}
.searchCoupon input {
  color: #7c8188;
  padding: 0 20px;
  height: 46px;
  font-size: 16px;
  width: 280px;
}
.searchCoupon input::placeholder {
  color: #000;
}
.searchCoupon button {
  background: none;
  border: none;
  padding: 0 15px;
  height: 44px;
}
.pubLish select {
  padding: 0 15px;
}

.selectAllCheckBox {
  border: 1px solid #eaedf2;
  height: 50px;
  width: auto;
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding: 0 15px;
}
.selectAllCheckBox label {
  display: flex;
  align-items: center;
}
.selectAllCheckBox label input[type="checkbox"] {
  height: 25px;
  width: 25px;
  margin-right: 10px;
}

.date input {
  color: #7c8188;
  font-size: 16px;
  border: 1px solid #eaedf2;
  border-radius: 8px; /*background: #fff;*/
  background: url(/public/images/dateIcon.svg) no-repeat 95% center #fff;
  height: 50px;
}
.date input:focus {
  box-shadow: none;
}
.sponserBtn {
  background-image: linear-gradient(
    215deg,
    hsl(220deg 72% 45%) 0%,
    hsl(210deg 100% 41%) 11%,
    hsl(206deg 100% 43%) 22%,
    hsl(202deg 100% 44%) 33%,
    hsl(198deg 100% 44%) 44%,
    hsl(194deg 100% 43%) 56%,
    hsl(189deg 100% 42%) 67%,
    hsl(185deg 100% 41%) 78%,
    hsl(180deg 63% 50%) 89%,
    hsl(172deg 61% 62%) 100%
  );
  border-radius: 10px;
  padding: 50px;
  text-align: center;
  width: 330px;
}
.sponserBtn figure {
  width: 116px;
  height: 116px;
  border-radius: 50%;
  line-height: 100px;
  background: #f0f0f0;
  border: 5px solid #fff;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.16);
  margin: 0 auto 25px;
}
.sponserBtn h3 {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  padding: 0;
}
.sponserBtn p {
  color: #fff;
  font-weight: 500;
  font-size: 14px;
}
.sponsarModal .modal-title {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
  width: 100%;
}
.sponsarModal .modal-header {
  border: none;
  margin-bottom: 0;
  padding-bottom: 0;
}
.sponserBtn figure {
  width: 116px;
  height: 116px;
  border-radius: 50%;
  line-height: 100px;
  background: #f0f0f0;
  border: 5px solid #fff;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.16);
  margin: 0 auto 25px;
}
.sponserBtn h3 {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  padding: 0;
}
.sponserBtn p {
  color: #fff;
  font-weight: 500;
  font-size: 14px;
}
.sponsarModal .modal-title {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  margin: 25px auto;
  width: 100%;
}
.sponsarModal .modal-header {
  border: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

.voucherFormMain {
  /* box-shadow: 0 30px 35px rgba(0, 0, 0, 0.11); */
  /* border-radius: 10px; */
  padding:0 20px 10px;
  background: #fff;
}
.titleLeft {
  border-right: 1px solid #dee7fc;
  flex: 0 0 20%;
  position: sticky;
  top: 100px;
  height: 100%;
}
.formRight {
  flex: 0 0 75%;
  padding: 0 30px;
}

.formStep {
  padding: 0;
  position: relative;
}
.formStep::before {
  height: 100%;
  width: 2px;
  content: "";
  position: absolute;
  top: 0;
  left: 15px;
  background: rgb(222, 231, 252);
  background: linear-gradient(
    0deg,
    rgba(222, 231, 252, 1) 0%,
    rgba(49, 108, 244, 1) 100%
  );
}
.formStep li {
  display: flex;
  align-items: center;
  margin: 0;
  font-size: 15px;
  color: #959eb1;
  font-weight: 500;
  margin-bottom: 50px;
}
.formStep li span {
  border: 1px solid #dee7fc;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  line-height: 33px;
  margin-right: 20px;
  position: relative;
  z-index: 1;
  background: #fff;
  flex: 0 0 auto;
}

.formStep {
  padding: 0;
  position: relative;
}
.formStep::before {
  height: 100%;
  width: 2px;
  content: "";
  position: absolute;
  top: 0;
  left: 15px;
  background: rgb(222, 231, 252);
  background: linear-gradient(
    0deg,
    rgba(222, 231, 252, 1) 0%,
    rgba(49, 108, 244, 1) 100%
  );
}
.formStep li {
  margin: 0;
  font-size: 15px;
  color: #959eb1;
  font-weight: 500;
  margin-bottom: 45px;
}

.formStep li span {
  border: 1px solid #dee7fc;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  line-height: 33px;
  margin-right: 10px;
  position: relative;
  z-index: 1;
  background: #fff;
}
.formStep li .check {
  display: none;
}
.formStep li .number {
  display: block;
}
.formStep li.fillActive .number {
  display: none;
}
.formStep li.fillActive .check {
  display: block;
}
.formStep li.fillActive span {
  background: #316cf4;
  border-color: #316cf4;
  color: #fff;
}

.basicTitle h6 {
  font-size: 18px;
  font-weight: 600;
  color: #434950;
  margin: 0;
  padding: 0 0 5px 0;
}
.basicTitle h6 span {
  color: #fe0000;
}
.basicTitle p {
  font-size: 16px;
  color: #434950;
  padding: 0;
  font-weight: 400;
}

.formInn {
  width: 550px;
}
.vchForm input {
  border: 1px solid rgba(49, 108, 244, 0.15);
  border-radius: 5px;
  height: 50px;
  font-size: 16px;
  background: #fcfcfc;
  color: #000000;
}
::-webkit-input-placeholder {
  color: #7c8188;
}
.vchForm input[type="text"]::-moz-placeholder {
  color: #7c8188;
}
.vchForm input[type="text"]:-moz-placeholder {
  color: #7c8188;
}

/* .vchForm input[type="text"] {
     color: blue;     
} */

.vchForm input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #7c8188;
  /* opacity: 1; */
}
input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #7c8188;
  /* opacity: 1; */
}
.vchForm input::-moz-placeholder {
  /* Firefox 19+ */
  color: #7c8188;
  /* opacity: 1; */
}
.vchForm input:-ms-input-placeholder {
  /* IE 10+ */
  color: #7c8188;
  /* opacity: 1; */
}
.vchForm input:-moz-placeholder {
  /* Firefox 18- */
  color: #7c8188;
  /* opacity: 1; */
}
input:-moz-placeholder {
  /* Firefox 18- */
  color: #7c8188;
  /* opacity: 1; */
}

/* .vchForm input[type="checkbox"] {
  border: 1px solid rgba(49, 108, 244, 0.15);
  border-radius: 5px;
  width: 25px;
  height: 25px;
} */
.vchForm input[type="radio"] {
  border: 1px solid rgba(49, 108, 244, 0.15);
  border-radius: 5px;
  width: 25px;
  height: 25px;
}
.vchForm textarea {
  border: 1px solid rgba(49, 108, 244, 0.15);
  border-radius: 5px;
  height: 150px;
  font-size: 16px;
  width: 100%;
  background: #fcfcfc;
  color: #7c8188;
}
.vchForm input:focus {
  box-shadow: none;
}
.vchForm input::placeholder,
.vchForm textarea::placeholder {
  color: #7c8188;
}
.vchForm select {
  border: 1px solid #eaedf2;
  border-radius: 8px;
  padding: 11px 12px 11px 12px;
  background: url(/public/images/ios-arrow-down.png) no-repeat 100% center
    #fcfcfc;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  width: 100%;
  height: 50px;
  font-size: 16px;
  color: #7c8188;
}
.vchForm select option {
  color: #000;
}
.formInn input.error {
  border-color: #fe0000;
}
.addBtn {
  margin-left: 20px;
  background: none;
  color: #316cf4;
  font-weight: 600;
  font-size: 18px;
}
.addBtn svg {
  margin-right: 10px;
}
.vchForm hr {
  border-color: #dee7fc;
  /* opacity: 1; */
  margin-bottom: 40px;
}

.file-upload {
  position: relative;
  display: inline-block;
  background: rgb(188, 61, 240);
  background: linear-gradient(
    180deg,
    rgba(188, 61, 240, 1) 0%,
    rgba(27, 60, 183, 1) 100%
  );
  border-radius: 0.4em;
  transition: background 0.3s;
  width: 100%;
  height: 122px;
  border: 1px dashed #fff;
  cursor: pointer;
}
.file-upload__label {
  display: flex;
  align-items: center;
  padding: 1em 2em;
  color: #fff;
  height: 100%;
  width: 100%;
  cursor: pointer;
}
.file-upload__input {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  font-size: 1;
  width: 0;
  height: 100%;
  opacity: 0;
}
.fileTitle {
  text-align: center;
}
.file-upload figure {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #fff;
  line-height: 70px;
  text-align: center;
  margin: 0 20px 0 0;
}
.fileTitle {
  font-size: 20px;
  font-weight: 500;
  font-size: 16px;
  color: #2b6bf3;
  font-weight: 600;
  text-align: left;
}
.uploadImage {
  background: rgb(242, 246, 255, 0.68);
  border: dashed 2px #bad5f6;
}
.uploadImage p {
  font-size: 14px;
  margin-top: 10px;
  color: #000;
  font-weight: 400;
}

.upload_Image {
  padding: 0;
  display: flex;
  margin-top: 25px;
}
.upload_Image li {
  position: relative;
  margin-right: 20px;
}
.upload_Image li img {
  border-radius: 10px;
}
.upload_Image li button {
  width: 27px;
  height: 27px;
  line-height: 25px;
  color: #fff;
  background: #316cf4;
  border-radius: 50%;
  position: absolute;
  right: -8px;
  top: -8px;
}

/* ----------- Vinay Creat Aditional CSS ----------- */

.upload_Image2 {
  padding: 0;
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.upload_Image2 li {
  position: relative;
}
.upload_Image2 li img {
  border-radius: 10px;
}
.upload_Image2 li button {
  width: 27px;
  height: 27px;
  line-height: 25px;
  color: #fff;
  background: #316cf4;
  border-radius: 50%;
  position: absolute;
  right: -8px;
  top: -8px;
}

.viewMeida {
  padding: 0;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
.viewMeida li {
  position: relative;
}
.viewMeida li img {
  border-radius: 10px;
}
.viewMeida h4 {
  font-size: 18px;
  font-weight: 500;
}
.viewMeida p {
  font-size: 16px;
}

.titleBlue h3 {
  font-size: 23px;
  font-weight: 500;
  color: #316cf4;
}
.titleBlue p {
  font-size: 16px;
}
.titleBlue button.teamCode {
  border: 1px solid #316cf4;
  background: none;
  padding: 10px 30px;
  border-radius: 8px;
  transition: all, 0.5s;
}
.titleBlue button.teamCode:hover {
  background: linear-gradient(
    90deg,
    #154092 0%,
    #2b6bf3 23.96%,
    #46a2ed 64.58%,
    #66cbe4 85.94%,
    #67e0c8 100%
  );
  color: #fff;
}

.stackTab {
  display: flex;
  margin: 0 0 25px;
  padding: 0 0 8px;
  border-bottom: 1px solid #dee7fc;
  gap: 40px;
}
.stackTab li {
  margin: 0;
  position: relative;
  cursor: pointer;
}
.stackTab li.active::after {
  content: "";
  position: absolute;
  bottom: -10px;
  background: #316cf4;
  width: 30px;
  height: 3px;
  left: 0;
}

.searchTeamBox {
  border: 1px solid #dee7fc;
  background: #fff;
  padding: 15px 20px;
  border-radius: 10px;
}
.searchTeamBox h2 {
  color: #316cf4;
  font-size: 20px;
}

.searchTeamBox p.dec {
  font-size: 16px;
}
.searchTeamBox p {
  font-size: 14px;
}
.searchTeamBox h3 {
  color: #316cf4;
  font-size: 14px;
}

.teamRow + .teamRow {
  border-top: 1px solid #d1ddf9;
  margin: 35px 0 0;
  padding: 30px 0 0;
}
.colecTeam {
  border: 1px solid #dee7fc;
  border-radius: 8px;
  padding: 15px;
  display: flex;
  align-items: center;
  margin: 10px 0;
}
.colecTeam img {
  height: 52px;
  width: 52px;
  border-radius: 100%;
  object-fit: cover;
  margin-right: 10px;
}
.colecTeam h3 {
  font-size: 16px;
  font-weight: 500;
}
.colecTeam .email {
  font-size: 14px;
}
.colecTeam .attBtn {
  border: 1px solid #19be52;
  background: #f2fff6;
  padding: 8px 15px;
  border-radius: 25px;
}
.colecTeam .iconClose {
  display: inline-block;
  height: 35px;
  width: 35px;
  border-radius: 100px;
  background: #eaf0fe;
  color: #316cf4;
  line-height: 33px;
  text-align: center;
  font-size: 19px;
}

.teamMembers {
  display: flex;
  margin: 5px 0 10px;
  padding: 10px 0 20px 10px;
  border-bottom: 1px solid #dee7fc;
}
.teamMembers li {
  position: relative;
}
.teamMembers li span {
  color: #fff;
  background: #316cf4;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  line-height: 40px;
  text-align: center;
  display: block;
  margin-left: -16px;
}
.teamMembers img {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  margin-left: -10px;
  box-shadow: 0 1px 3px #646464;
}

.teamFormAdd {
  background: #f4f5f9;
  padding: 20px;
  border-radius: 10px;
}
.teamFormAdd label {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 8px;
}
.teamFormAdd .form-control {
  border: 1px solid #e2e2e2;
  height: 50px;
}
.teamFormAdd .fileUplaod_3 {
  border: 1px solid #ddd;
  border-radius: 6px;
  background: #fff;
}
.teamFormAdd .fileUplaod_3 label {
  margin: 0;
}
.teamFormAdd .fileUplaod_3 input[type="file"]::file-selector-button {
  border-radius: 5px 0 0 5px;
}
.teamFormAdd select {
  border: 1px solid #eaedf2;
  border-radius: 8px;
  padding: 11px 15px 11px 15px;
  background: url(http://localhost:3000/static/media/arrowDwon.0f441380f7c35ff2cea9.svg)
    no-repeat 95% center #fcfcfc;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  width: 100%;
  height: 50px;
  font-size: 16px;
  color: #7c8188;
}

.addTeamPoup h3 {
  text-align: center;
  font-size: 22px;
}
.addTeamPoup .closePoup {
  background: #f5f5f5;
  color: #000;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  font-size: 22px;
  position: absolute;
  right: 10px;
  top: 10px;
  line-height: 24px;
  padding: 0;
}

.addTeamPoup .subBtn button.can,
.addTeamPoup .subBtn button.sub {
  width: 120px;
  height: auto;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 10px 10px;
  text-align: center;
}

.payment3Poup {
  text-align: center;
}
.payment3Poup h3 {
  font-size: 35px;
  font-weight: 600;
  margin: 10px 0;
  padding: 0px;
}
.payment3Poup p {
  margin: 0px;
  color: #808080;
  font-weight: 500;
}
.payment3Poup button {
  background: #67e0c8;
  color: #154092;
  border-bottom: 2px solid #154092;
  font-size: 20px;
  font-weight: 600;
  padding: 7px 25px 7px;
  border-radius: 6px;
  margin-top: 20px;
}
.payment3Poup .success {
  color: #35b729;
}
.payment3Poup .pending {
  color: #ffb800;
}
.payment3Poup .failed {
  color: #ff6464;
}

/* ----------- Vinay Creat Aditional CSS END ----------- */

.formInn .tixRwrd label {
  font-size: 16px;
  font-weight: 500;
  color: #434950;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0;
  margin: 0;
  top: 0;
}
.tixRwrd label input {
  margin-right: 15px;
}
.noteMsg {
  font-style: italic;
  font-weight: 500;
  color: #434950;
  padding-top: 20px;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}
.upload-btn-wrapper .btn {
  border: none;
  color: #316cf4;
  background-color: white;
  padding: 0;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  align-items: end;
}
.upload-btn-wrapper input[type="file"] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
.upload-btn-wrapper svg {
  font-size: 30px;
  margin-right: 10px;
}
.vchForm input.error {
  border-color: #fe0000;
}
.vchForm .errmsg {
  color: #fe0000;
  font-size: 12px;
  display: block;
  margin-top: 5px;
}
.vchForm .errmsg svg {
  margin-right: 5px;
}
.subBtn button.sub {
  width: 190px;
  height: 54px;
  background: #316cf4;
  text-align: left;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 600;
  margin-top: 20px;
  transition: all 0.5s;
  box-shadow: 0 10px 10px rgba(49, 108, 244, 0.4);
}
.subBtn button.sub img {
  float: right;
  margin-top: 8px;
}
.subBtn button.sub:hover {
  background: linear-gradient(
    90deg,
    #154092 0%,
    #2b6bf3 23.96%,
    #46a2ed 64.58%,
    #66cbe4 85.94%,
    #67e0c8 100%
  );
}
.subBtn button.can {
  width: 190px;
  height: 54px;
  background: #fff;
  border: 1px solid #316cf4;
  color: #316cf4;
  text-align: right;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 600;
  margin-top: 20px;
  transition: all 0.5s;
}
.subBtn button.can img {
  float: left;
  margin-top: 8px;
}
.subBtn button.can:hover img {
  filter: brightness(0) invert(1);
}
.subBtn button.can:hover {
  background: linear-gradient(
    90deg,
    #154092 0%,
    #2b6bf3 23.96%,
    #46a2ed 64.58%,
    #66cbe4 85.94%,
    #67e0c8 100%
  );
  color: #fff;
}

.vchForm .date input {
  border: 1px solid #eaedf2;
  border-radius: 8px; /*background: #fff;*/
  background: url(/public/images/dateIcon.svg) no-repeat 98% center #fff;
  height: 50px;
}
.vchForm .date input:focus {
  box-shadow: none;
}
.vchForm .react-datepicker__input-container {
  width: 100%;
}

.titleSmall {
  font-size: 18px;
}
/*=============== Nav Bar =======================*/
.nav_2 {
  /* position: fixed;
  top: 0;
  left: -100%; */
  border-right: 1px solid #d1d5d8;
  height: 100vh;
  padding: 1rem 1rem 0;
  background-color: #fff;
  box-shadow: 1px 0 0 rgba(22, 8, 43, 0.1);
  transition: 0.4s;
  z-index: 2;
}
.nav__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 3rem;
  overflow: auto;
  scrollbar-width: none;
  flex: 0 0 100%;
  /* margin-top: 85px; */
}
.nav__container::-webkit-scrollbar {
  display: none;
}
/* .nav__list, 
.nav__items {display: grid;} */
.nav__list {
  row-gap: 2.5rem;
}
.nav__items {
  row-gap: 1.5rem;
  /* margin-bottom: 15px; */
}
.nav__subtitle {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #a5a1aa;
}
.nav__link {
  display: flex;
  align-items: center;
  color: #58555e;
  text-decoration: none;
  font-family: "Inter Tight", sans-serif;
}
.nav__link:hover {
  color: #6923d0;
}
.nav__icon {
  font-size: 1.2rem;
  margin-right: 0rem;
}
.nav__container .icon_cmn {
  width: 54px;
  height: 54px;
  line-height: 54px;
  flex: 0 0 54px;
  text-align: center;
  border-radius: 8px;

}
.nav__name {
  font-size: 14px;
  white-space: nowrap;
  color: #363b46;
  font-weight: normal;
  font-family: "Inter Tight", sans-serif;
}
.nav__logout {
  margin-top: 5rem;
}
.header__toggle {
  /* display: none; */
  background: #000;
  position: static;
  top: 80px;
  padding: 5px;
  display: block;
  width: 290px;
  color: #fff;
  border-radius: 0 5px 4px 0px;
  cursor: pointer;
}
.toggleClose {
  display: none;
  background: #f5f5f5;
  font-size: 20px;
  position: absolute;
  top: 72px;
  padding: 5px;
  right: 9px;
  width: 35px;
  height: 35px;
  line-height: 20px;
  color: #000;
  border-radius: 50%;
  cursor: pointer;
}
/* Dropdown */
.nav__dropdown {
  overflow: hidden;
  max-height: 54px;
  transition: 0.4s ease-in-out;
}
.nav__dropdown-collapse {
  background-color: #fff;
  border-radius: 0.25rem;
  margin-top: 0rem;
}
.nav__dropdown-content {
  display: grid;
  row-gap: 0;
  padding: 0rem 0rem 0rem 1.8rem;
  margin-left: 35px;
}
.nav__dropdown-item {
  font-size: 16px;
  font-weight: 600;
  color: #316cf4;
  text-decoration: none;
  line-height: 50px;
  border-bottom: 1px solid #f0f0f0;
}
.nav__dropdown-item:hover {
  color: #013f98;
  background: #000;
}
.nav__dropdown-icon {
  margin-left: auto;
  transition: 0.4s;
}
/* Show dropdown collapse */
.nav__dropdown.open {
  max-height: 100rem;
}
/* Rotate icon arrow */
.nav__dropdown.open svg {
  transform: rotate(180deg);
}
.nav__dropdown.open .nav__dropdown-content svg {
  transform: rotate(0deg);
}
/*===== Show menu =====*/
.show-menu {
  left: 0;
}
/*===== Active link =====*/
.nav__list .active .icon_cmn {
  color: #000;
  border-radius: 8px;
}
.nav__list .active,
.nav__link:hover {
  background: #fff;
  color: #000;
  border-radius: 8px;
}
.nav__list .active,
.nav__link:hover span {
  color: #000;
}
.nav__list .active .nav__icon,
.nav__list .active .nav__icon {
  border-radius: 5px;
  background:rgba(248, 248, 255, 1);
  color: #000;
}
/* .nav__list .active .nav__icon img {
  filter: brightness(0) invert(1);
}
.nav__link:hover img {
  filter: brightness(0) invert(1);
} */
.nav__list .active .nav__name {
  color: #000;
}
/* ========== MEDIA QUERIES ==========*/

.publishModal .closeBtn {
  background: none;
  position: absolute;
  right: 13px;
  top: 13px;
}
.publishModal h3 {
  text-align: center;
  font-size: 22px;
  color: #000000;
  font-weight: 400;
  line-height: 35px;
  margin: 0;
  padding: 0;
}

.saveBtn button {
  border: 1px solid #316cf4;
  min-width: 150px;
  height: 36px;
  font-size: 15px;
  border-radius: 10px;

  color: #fff;
  line-height: 1.2;
  /* text-transform: uppercase; */
  letter-spacing: 1px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  font-size: 16px;
  font-weight: 600;
}
.saveBtn button:first-child {
background-color: white;
color: black;
line-height: 1.2;
letter-spacing: 1px;
-webkit-transition: all 0.4s;
-o-transition: all 0.4s;
-moz-transition: all 0.4s;
transition: all 0.4s;
border: 1px solid #316cf4;
}

.saveBtn button:last-child {
  background-image: linear-gradient(
    90deg,
    hsl(240deg 92% 74%) 0%,
    hsl(240deg 73% 69%) 11%,
    hsl(240deg 60% 64%) 22%,
    hsl(241deg 50% 59%) 33%,
    hsl(241deg 42% 54%) 44%,
    hsl(241deg 37% 49%) 56%,
    hsl(241deg 39% 44%) 67%,
    hsl(241deg 41% 39%) 78%,
    hsl(240deg 43% 35%) 89%,
    hsl(240deg 45% 30%) 100%
  );

  line-height: 1.2;
  /* text-transform: uppercase; */
  letter-spacing: 1px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  color: #fff;
}
.dashbaorIn {
  background: #f7f7f7;
  border-radius: 10px;
  height: 600px;
}

.fileUplaod_3 input {
  height: 50px;
  width: 100%;
}
.fileUplaod_3 input[type="file"]::file-selector-button {
  margin-right: 20px;
  border: none;
  height: 50px;
  background: #084cdf;
  padding: 10px 15px;
  border-radius: 4px 0 0 4px;
  color: #fff;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

.fileUplaod_3 input[type="file"]::file-selector-button:hover {
  background: #0d45a5;
}

/*============== Event List ==========================*/
.eventList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 30px;
  padding: 0;
}
.item_2 {
  border: 1px solid #dee7fc;
  border-radius: 10px;
  background: #fff;
  width: 100%;
  padding: 15px;
}
.item_2 img {
  /* width: 100%; */
}
.item_2 p {
  font-size: 16px;
  font-weight: 500;
  padding: 20px 0;
}
.addMedia button {
  background: none;
  font-size: 25px;
  color: #000;
  padding: 0;
  margin: 0;
  border: none;
}
.addMedia button:after {
  display: none;
}
.addMedia button.active {
  background: none;
}
.addMedia button:hover {
  background: none;
  color: #000;
}
.addMedia .dropdown-menu {
  border-radius: 13px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.16);
  border: none;
  min-width: 218px;
}
.addMedia .dropdown-menu a {
  font-size: 16px;
  padding: 10px 20px;
  border-bottom: 1px solid #f0f0f0;
}
.addMedia .dropdown-menu a:last-child {
  border: none;
}
.addMedia .dropdown-menu.show {
  display: block;
  transform: translate(-200px, 40px) !important;
}

.gameTitle h2 {
  font-size: 20px;
  color: #434950;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.gameTitle span {
  font-size: 15px;
  color: #434950;
  display: inline-block;
}
.breaCrumb {
  padding: 0;
  margin: 0;
  display: flex;
}
.breaCrumb li {
  padding: 0 5px;
  color: #316cf4;
}
.breaCrumb li button {
  background: none;
  color: #316cf4;
  font-size: 16px;
  font-weight: 500;
}
.gamesList {
  padding: 0;
  display: flex;
  margin: 0;
}
.gamesList li {
  padding-right: 10px;
}
.gamesList li button {
  background: #e6eeff;
  border: 1px solid #316cf4;
  border-radius: 25px;
  padding: 5px 10px;
  color: #316cf4;
  font-size: 10px;
  font-weight: 500;
}

.figCaption figure {
  position: relative;
  z-index: 0;
}
.figCaption figcaption {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  position: absolute;
  bottom: 0;
  padding: 10px;
  z-index: 1;
}

.logins li.wallet {
  width: 44px;
  height: 44px;
  background: #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 44px;
}

.adminSearch {
  margin: 0;
  background: #fff;
  border-radius: 5px;
  height: 40px;
  display: flex;
  padding: 0 11px;
  margin-left: 50px;
  width: 400px;
}
.adminSearch input {
  width: 100%;
  border-radius: 5px;
  height: 40px;
  padding: 10px 0;
}
.adminSearch button {
  background: none;
  margin-left: 20px;
}

.AiBtn {
  border-radius: 8px;
  width: 40px;
  height: 40px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  position: absolute;
  right: 18px;
  top: 5px;
  z-index: 1;
  background: rgb(0, 106, 255);
  background: linear-gradient(
    218deg,
    rgba(0, 106, 255, 1) 0%,
    rgba(110, 75, 255, 1) 100%
  );
}
.iconLoc {
  right: 20px;
  left: auto;
}
.addAddress iframe {
  width: 100%;
  height: 300px;
}
.addAddress {
  text-align: right;
}
.addAddress a {
  display: inline-block;
  text-decoration: none;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(244, 244, 244, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  border: 1px solid #316cf4;
  color: #316cf4;
  padding: 7px 15px;
  font-weight: 500; /*float: right;*/
  margin: 15px 0;
  border-radius: 5px;
  font-size: 16px;
}

.MuiDateRangeCalendar-root div[style] {
  display: none;
}
/* .MuiDateRangeCalendar-root input.MuiInputBase-input{padding: 0 14px; border: 1px solid rgba(49,108,244,0.15) !important;} */
.MuiStack-root input {
  padding: 0 14px;
  border: 1px solid rgba(49, 108, 244, 0.15);
  background: url(/public/images/dateIcon_2.png) no-repeat;
  background-position: 98% 10px;
}
.MuiStack-root input:hover {
  padding: 0 14px;
  border: 1px solid rgba(49, 108, 244, 0.15);
}
.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root:hover
  .MuiOutlinedInput-notchedOutline {
  display: none;
}
.css-ymqfn8-MuiStack-root {
  padding-top: 0 !important;
}

.addTeam {
  background: none;
  color: #316cf4;
  font-size: 18px;
  font-weight: 600;
  position: absolute;
  right: 10px;
  bottom: 0;
}

/*============== Ticke Page List ==========================*/
.ticketTitle h2 {
  font-size: 20px;
  color: #316cf4;
  font-weight: 500;
  margin: 0;
  padding: 0;
}
.ticketTitle span {
  font-size: 20px;
  color: #434950;
  display: inline-block;
}
.ticketTitle span img {
  width: 26px;
}

.switch_2 {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 22px;
}
.switch_2 input {
  display: none;
}
.switch_2 .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #d5dae5;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.switch_2 .slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 2px;
  background-color: #9ca5b9;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.switch_2 input:checked + .slider {
  background-color: #2ab934;
}
.switch_2 input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}
.switch_2 input:checked + .slider:before {
  -webkit-transform: translateX(25px);
  -ms-transform: translateX(25px);
  transform: translateX(25px);
  background: #fff;
}
.switch_2 .on {
  display: none;
}
.switch_2 .off {
  color: #000;
}
.switch_2 .on,
.switch_2 .off {
  color: white;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  font-size: 15px;
  font-weight: 500;
}
.switch_2 input:checked + .slider .on {
  display: block;
}
.switch_2 input:checked + .slider .off {
  display: none;
}
.switch_2 .slider.round {
  border-radius: 34px;
}
.switch_2 .slider.round:before {
  border-radius: 50%;
}

.avaTicketList {
  display: flex;
  padding: 0;
  justify-content: space-between;
}
.avaTicketList li + li {
  border-left: 1px solid #f0f0f0;
  padding-left: 20px;
}
.avaTicketList li {
  font-size: 14px;
}
.avaTicketList li span {
  display: block;
  font-size: 22px;
  font-weight: 600;
  color: #434950;
}

.addWaiver {
  display: flex;
  gap: 15px;
}
.addWaiver li button {
  background: #316cf4;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
}
.seasonTitle {
  font-size: 24px;
  color: #316cf4;
  font-weight: 600;
}

.listGame {
  display: flex;
  gap: 35px;
}
.gameInn {
  text-align: center;
  width: 145px;
}
.gameInn figure {
  padding: 15px;
  border: 1px solid rgba(49, 108, 244, 0.15);
  background: #fcfcfc;
  border-radius: 5px;
  min-height: 140px;
  line-height: 100px;
}
.gameInn h6 {
  font-size: 14px;
  color: #000000;
  font-weight: 500;
  margin: 0;
}
.gameInn .preBtn {
  border: 1px solid #316cf4;
  color: #316cf4;
  font-size: 16px;
  font-weight: 500;
  background: #fff;
  border-radius: 5px;
  padding: 5px 10px;
  width: 100%;
}
.gameInn .closeBtn {
  background: none;
  position: absolute;
  right: 7px;
  top: 7px;
  line-height: initial;
  height: auto;
}
.registerForm {
  width: 100%;
}
.formInn label {
  color: #7c8188;
  font-size: 16px;
}

.listGame {
  display: flex;
  gap: 35px;
}
.gameInn {
  text-align: center;
  width: 145px;
}
.gameInn figure {
  padding: 15px;
  border: 1px solid rgba(49, 108, 244, 0.15);
  background: #fcfcfc;
  border-radius: 5px;
  min-height: 140px;
  line-height: 100px;
}
.selectForm figure {
  border-color: #084cdf;
}
.gameInn h6 {
  font-size: 14px;
  color: #000000;
  font-weight: 500;
  margin: 0;
}
.gameInn .preBtn {
  border: 1px solid #316cf4;
  color: #316cf4;
  font-size: 16px;
  font-weight: 500;
  background: #fff;
  border-radius: 5px;
  padding: 5px 10px;
  width: 100%;
}
.gameInn .closeBtn {
  background: none;
  position: absolute;
  right: 7px;
  top: 7px;
  line-height: initial;
  height: auto;
}
.registerForm {
  width: 100%;
}
.formInn label {
  color: #7c8188;
  font-size: 16px;
}

.selectGender input {
  width: 100px;
}

.emptyBtn {
  background: none;
  position: absolute;
  top: 10px;
  right: 7px;
}

.crosseBtn {
  background: none;
  position: relative;
  top: 10px;
  right: 7px;
}

.bg {
  background: #fcfcfc;
  padding: 5px;
  border: 1px solid rgba(49, 108, 244, 0.15);
  border-radius: 5px;
  height: 50px;
}
.bg input {
  height: 40px;
}
.registerForm_2 {
  max-width: 800px;
}

.brLink {
  display: flex;
  padding: 0;
}
.brLink li {
  color: #316cf4;
}
.brLink li + li {
  padding-left: 7px;
}
.brLink li:nth-child(2) {
  padding-right: 0;
}
.brLink li a {
  text-decoration: none;
  color: #316cf4;
}
.react-datepicker-wrapper {
  width: 100%;
}
.formInn input:focus {
  border: thin solid rgba(49, 108, 244, 1);
  border-bottom: solid medium rgba(49, 108, 244, 1);
  background-color: #fff;
}
.formInn textarea:focus {
  border: thin solid rgba(49, 108, 244, 1);
  border-bottom: solid medium rgba(49, 108, 244, 1);
  background-color: #fff;
  box-shadow: none;
}
.formInn i {
  position: absolute;
  pointer-events: none;
  left: 10px;
  padding-left: 0.75rem;
  top: 14px;
  transition: 0.2s;
  font-style: normal;
  color: #7c8188;
  font-size: 16px;
}
.formInn input:focus ~ i,
.formInn input:valid ~ i {
  top: -10px;
  left: 15px;
  font-size: small;
  color: #084cdf;
  background-color: #fff;
  padding: 0 5px 0 5px;
}
.formInn textarea:focus ~ i,
.formInn textarea:valid ~ i {
  top: -10px;
  left: 15px;
  font-size: small;
  color: #7c8188;
  background-color: #fff;
  padding: 0 5px 0 5px;
}

/*======================= Choose Date Popup =======================*/
.selectDate label {
  width: 100%;
  font-size: 16px;
  color: #434343;
  font-weight: 500;
  margin: 20px 0 8px;
}
.selectDate input {
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 40px;
  padding: 5px 10px;
  background: url(/public/images/dateIcon.svg) #fff no-repeat;
  background-position: 96% 8px;
}

.selectDate .ticketDatePicker {
  padding: 5px 30px 5px 10px;
  min-width: 265px;
}

.addTeamPoup .react-calendar {
  box-shadow: 0 5px 15px 0 rgba(16, 36, 94, 0.2);
  border: none;
  width: 100%;
}
.addTeamPoup .react-calendar__tile {
  padding: 14px 6px;
  font-size: 15px;
  font-weight: 500;
}
.addTeamPoup .react-calendar__month-view__weekdays {
  font-size: 15px;
}
.addTeamPoup abbr[title] {
  -webkit-text-decoration: underline dotted;
  text-decoration: auto;
  cursor: help;
  text-decoration-skip-ink: none;
}
.allInfo h6 {
  font-size: 18px;
  text-align: center;
  margin-top: 40px;
}
.allInfo ul {
  padding: 0;
  text-align: center;
}
.allInfo ul li {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 15px;
}
.allInfo ul li button {
  color: #00960b;
  font-size: 16px;
  font-weight: 500;
  background: #fff;
  border-radius: 5px;
  border: 2px solid #efefef;
  padding: 8px 15px;
}
.allInfo ul li button.active {
  border-color: #00960b;
  background-color: green;
  color: white;
}

.conBtn {
  border-radius: 5px;
  color: #fff;
  padding: 10px 30px;
  font-size: 18px;
  font-weight: 500;
  min-width: 150px;
  border: 0px;
  background: linear-gradient(
    90deg,
    #154092 0%,
    #2b6bf3 23.96%,
    #46a2ed 64.58%,
    #66cbe4 85.94%,
    #67e0c8 100%
  );
  margin: 0 auto;
}
/*======================= Choose Date Popup =======================*/
.toggle {
  display: none;
}
.pointer {
  cursor: pointer;
}

/* ========== MEDIA QUERIES ==========*/
/* For small devices reduce search*/

@media only screen and (max-width: 1500px) and (min-width: 1200px) {
  .adminLogin {
    padding-left: 84px;
  }
}
@media screen and (min-width: 1200px) {
  /* .header__toggle {
    display: none;
  } */

  .nav_2 {
    padding: 1.2rem 13px !important;
    width:310px; /* Reduced navbar */
    box-shadow: 0 6px 26px rgba(34, 55, 113, 0.1);
  }
  .nav__items {
    row-gap: 1.7rem;
  }
  .nav__icon {
    font-size: 1.3rem;
  }
  .nav__logo-name,
  .nav__name,
  .nav__subtitle,
  .nav__dropdown-icon {
    /* opacity: 0; */
    transition: 0.3s;
  }
  /* .nav_2:hover {
    width: 290px;
  } */
  .nav_2:hover .nav__logo-name {
    opacity: 1;
  }
  .nav_2:hover .nav__subtitle {
    opacity: 1;
  }
  .nav_2:hover .nav__name {
    opacity: 1;
  }
  .nav_2:hover .nav__dropdown-icon {
    opacity: 1;
  }
}

/* @media screen and (min-width: 1199px) {
  .header__toggle {display: none;}
  .nav_2 {left: 0;padding: 1.2rem 13px !important;width:84px;  box-shadow: 0 6px 26px rgba(34,55,113,0.10);}
  .nav__items {row-gap: 1.7rem;}
  .nav__icon {font-size: 1.3rem;}
  .nav__logo-name, 
  .nav__name, 
  .nav__subtitle, 
  .nav__dropdown-icon {opacity: 0;transition: .3s;}
  .nav_2:hover{width:300px;}
  .nav_2:hover .nav__logo-name {opacity: 1;}
  .nav_2:hover .nav__subtitle {opacity: 1;}
  .nav_2:hover .nav__name {opacity: 1;}
  .nav_2:hover .nav__dropdown-icon {opacity: 1;}
  
} */

@media screen and (max-width: 1300px) {
  .filterSearch select {
    max-width: 175px;
  }
  .pubLish select {
    padding: 0 10px;
  }
  .createSponser {
    padding: 10px;
  }
  .searchCoupon input {
    padding: 0 10px;
  }
}

@media screen and (max-width: 1199px) {
  .filterSearch .searchFields li {
    flex: 0 0 50%;
    margin: 10px 0 0;
    padding: 0 5px;
  }
  .filterSearch .searchFields li select,
  .filterSearch .searchFields li input {
    max-width: 100%;
    width: 100%;
  }
  .createSponser {
    margin-top: auto;
  }

  .nav__container {
    margin-top: 110px;
  }
  .toggleClose {
    display: block;
  }
  .nav__list {
    width: 300px;
  }
  header.headerHome .menuHome a img {
    width: 144px;
  }
}
@media screen and (max-width: 991px) {
  .formInn {
    width: 100%;
  }
  .titleLeft {
    flex: 0 0 30%;
  }
  .rightSidebarForm {
    width: 100%;
  }
  .voucherFormMain {
    padding: 25px;
  }
  .subBtn button.can,
  .subBtn button.sub {
    width: 170px;
    font-size: 16px;
  }
  .listGame {
    flex-wrap: wrap;
  }

  .filterSearch {
    display: block;
  }
  .filterSearch .createSponser {
    margin-top: 10px;
  }
}

@media screen and (max-width: 767px) {
  .addMedia .dropdown-menu.show {
    transform: translate(0px, 40px) !important;
  }
  .formStep li {
    font-size: 0px;
  }
  .formStep li span {
    font-size: 15px;
  }
  .titleLeft {
    flex: 0 0 50px;
  }
  .basicInfo figure.me-4 {
    display: none;
  }
  .nextPreviousButton {
    max-width: 100%;
    margin: 0;
  }
  .formRight {
    flex: 0 0 90%;
  }
  .formRight.px-5 {
    padding: 0 10px !important;
  }
  .subBtn button.can,
  .subBtn button.sub {
    width: 140px;
    font-size: 16px;
  }
  .voucherFormMain {
    padding: 12px;
  }
}

@media screen and (max-width: 575px) {
  .subBtn button.can,
  .subBtn button.sub {
    width: 134px;
    font-size: 13px;
  }
  .subBtn button.can img,
  .subBtn button.sub img {
    width: 16px;
    margin-top: 4px;
  }
  .addTeam {
    position: relative;
    right: 0;
    top: 10px;
  }
  .formInn .css-ymqfn8-MuiStack-root > .MuiTextField-root {
    min-width: 100%;
  }
  .titleLeft {
    display: none;
  }
  .formRight {
    flex: 0 0 100%;
  }

  .filterSearch .searchFields li {
    flex: 0 0 100%;
  }
  .responsiveSearch {
    display: none;
    height: 0px;
    transition: all 1s;
  }
  .filterSearch.active {
    position: relative;
  }
  .filterSearch.active .responsiveSearch {
    display: block;
    height: auto;
    z-index: 9;
    position: absolute;
    top: 60px;
    background: #fff;
    padding: 5px 10px 10px;
    box-shadow: 0 5px 10px #555;
    border-radius: 10px;
  }
  .filterSearch {
    display: flex;
    margin: 0px;
    padding: 15px 0;
  }
  .filterSearch .magSearch {
    display: inline-block;
    margin-left: auto;
    background: #316cf4;
    color: #fff;
    height: 40px;
    width: 40px;
    font-size: 20px;
    line-height: 37px;
    text-align: center;
    border-radius: 100%;
  }

  .filterSearch.d-flex {
    display: none !important;
    transition: all 0.5s;
  }
  .filterSearch.d-flex.searchFilter {
    display: block !important;
  }
  .toggle {
    display: block;
    background: #19be52;
    font-weight: 500;
    color: #fff;
    width: auto;
    padding: 0 20px;
    border-radius: 5px;
    font-size: 18px;
    height: 40px;
    margin-left: auto;
    margin-top: 16px;
  }
  .toggle svg {
    margin-left: 10px;
  }
}
.search-wrapper {
  position: relative;
}
.search-wrapper img {
  position: absolute;
  top: 0px;
  left: 0px;
}

.login_sec {
  padding-top: 150px;
}
.login_sec h3 {
  padding-bottom: 10px;
  font-size: 30px;
  font-weight: 600;
  font-family: "Inter Tight", sans-serif;
}
.login_sec p {
  padding-bottom: 30px;
  margin-bottom: 0 !important;
  font-size: 15px;
  line-height: 25px;
  font-family: "Inter Tight", sans-serif;
  color: rgba(117, 117, 117, 1);
}
.login_sec label {
  padding-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  color: #000;
  font-family: "Inter Tight", sans-serif;
}
.login_sec .trabble {
  padding-top: 20px;
  font-size: 16px;
  line-height: 22px;
}
.login_sec .trabble a {
  color: rgba(0, 91, 144, 1);
  text-decoration: underline;
}
.login_sec .trabble a:hover {
  text-decoration: none;
}
.login_sec input:focus {
  background: none !important;
}
.logo-content {
  font-size: 22px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  padding: 6px 0 0 10px;
}
.login100-form-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  font-size: 15px;
  width: 100%;
  height: 40px;
  border-radius: 10px;
  background-image: linear-gradient(
    90deg,
    hsl(240deg 92% 74%) 0%,
    hsl(240deg 73% 69%) 11%,
    hsl(240deg 60% 64%) 22%,
    hsl(241deg 50% 59%) 33%,
    hsl(241deg 42% 54%) 44%,
    hsl(241deg 37% 49%) 56%,
    hsl(241deg 39% 44%) 67%,
    hsl(241deg 41% 39%) 78%,
    hsl(240deg 43% 35%) 89%,
    hsl(240deg 45% 30%) 100%
  );
  color: #fff;
  line-height: 1.2;
  /* text-transform: uppercase; */
  letter-spacing: 1px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.upload_new_application {
  width: 100%;
}
.upload_new_application h3 { 
  padding-bottom: 20px;
  width: 100%;
  font-size: 20px;
  line-height: 25px;
  color: #000;
  font-weight: bold;
}
.upload_new_application .top_list {
  width: 100%;
  display: block;
}
.upload_new_application .top_list .list_row {
  padding: 20px;
  border-bottom: 1px solid rgba(232, 232, 255, 1);
  font-size: 16px;
  line-height: 22px;
  color: rgba(21, 21, 23, 1);
  background: rgba(183, 183, 255, 0.1);
  font-family: "Inter Tight", sans-serif;
}
.upload_new_application .top_list .icon {
  padding: 5px 10px;
  display: inline-block;
  background: linear-gradient(90deg, #8282ff 0%, #29296e 100%);
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  border-radius: 15px;
}
.upload_new_application .top_list .mini {
  display: block;
  text-align: center;
  font-size: 14px;
  line-height: 25px;
}
.upload_new_application .top_list .mini img {
  vertical-align: middle;
  margin-right: 10px;
}
.upload_new_application .top_list .mini .cursar {
  cursor: pointer;
}
.upload_new_application .verticle {
  vertical-align: middle;
}
.upload_new_application .w-85 {
  width:85%;
}
.upload_new_application .text-right {
  text-align: right;
}
.upload_new_application table th {
  background: rgba(183, 183, 255, 0.1);
  font-size: 15px;
  font-family: "Inter Tight", sans-serif;
}
.upload_new_application table td {
  padding: 20px 10px;
  font-size: 15px;
  font-family: "Inter Tight", sans-serif;
}

.modal_details h3 {
  width: 100%;
  font-size: 24px;
  line-height: 30px;
  color: #000;
  text-align: center;
  font-weight: bold;
}
.modal_details .modal-title {
  width: 100%;
}
.modal_details p {
  width: 100%;
  font-size: 14px;
  line-height: 20px;
  color: #000;
  font-family: "Inter Tight", sans-serif;
}
.modal_details .form-select {
  font-size: 13px;
  line-height: 15px;
}

.confirmation {
  display: block;
}
.confirmation h3 {
  display: block;
  text-align: center;
  width: 100%;
  font-size: 24px;
  line-height: 30px;
  color: #000;
  font-weight: bold;
}
.confirmation .modal-title {
  width: 100%;
}
.confirmation .modal-title p {
  width: 100%;
  font-size: 16px;
  line-height: 20px;
  color: #000;
  text-align: center;
}
.confirmation .notepad {
  width: 35px;
  height: 35px;
  margin: 0 5px;
}
.confirmation .close {
  font-size: 15px;
  height: 16px;
}
.confirmation .sc-eTNRI {
  font-size: 16px;
  font-family: "Inter";
}
.nav__list{z-index: 99; position: relative;}
.nav__name{ margin-right:10px;}
.form-select,.form-control{ font-size: 1.6rem;}
.content{margin:0 0 0 0; width: 100%;}
.main_dashboar .progress-bar{ height: 10px!important; position: relative; top: -3px;}
.commonHeader{ padding:20px; background: #fff; border-bottom: 1px solid rgba(238, 241, 240, 1);}
.commonHeader h1{font-size: 18px; line-height: 25px; font-weight: bold; color: rgba(21, 21, 23, 1);}
.commonHeader .notification{ cursor: pointer; width: 30px; text-align: center;}
.commonHeader .upload{ cursor: pointer;}
.commonHeader .upload img{ width:16px; height: 16px;}
.channel_border{border: 1px solid #716C6C;padding: 3px;}
.agent_avatar{height: 106px;width: 100px;border-radius: 50%;margin-left: 175px;overflow: hidden;}
.agent_radio {border: 1px solid #E0E3E2  ;padding-right: 151px;margin-top: 9px;}
.upload_new_application{padding:2rem 0 0; height: 100vh;}
.label{ padding-bottom: 16px; display: inline-block; font-size: 14px; line-height: 18px; color:rgba(117, 117, 117, 1);}
.login100-form-btn{ font-size: 16px; font-style: italic; color:#ffff;}
.form-select{ font-family: "Inter Tight", sans-serif;}
.huezRP{ width:100%!important;}
.faZveH{padding: 0 5px!important;}
.success-pic{ margin-top: 70px; width:130px;}
.full-cover{ padding:100px 0;}
.modal-title{ text-align: center;}
.card-title{ padding-bottom: 10px!important; font-size:24px !important; line-height: 30px!important;
   color: #000!important; font-weight: bold!important;font-family: "Inter Tight", sans-serif;}
.card-title1{ padding-bottom: 20px!important; font-size:18px !important; line-height:26px!important;
    color: #000!important; font-weight: bold!important;font-family: "Inter Tight", sans-serif;}
.card-text{font-size: 14px!important; line-height:24px; color:rgba(117, 117, 117, 1);
  text-align: center; font-family: "Inter Tight", sans-serif;}
.card-text1{font-size: 14px!important; line-height:24px; color:rgba(117, 117, 117, 1);
    text-align: left; font-family: "Inter Tight", sans-serif;}
.buttons{ padding-top: 70px; font-family: "Inter Tight", sans-serif;}
.buttons button{font-family: "Inter Tight", sans-serif;}
.application_san{ padding:30px 50px;}
.label{font-size: 14px!important; line-height:24px; color:rgba(117, 117, 117, 1);font-family: "Inter Tight", sans-serif;}
.checkbox{ margin-top: -10px;}
.w-80{ width:80%;}
.exclaim{ text-align: center; padding:100px 0 30px;}
.exclaim img{width: 130px;}
.table th{ color:rgba(117, 117, 117, 1); font-weight: normal;}
.green{ padding: 6px 15px; border-radius:20px; color: #29CC6A; display: inline-block; background:rgba(41, 204, 106, 0.2);}
.yallow{padding: 2px 10px; border-radius:20px; color: #EAB308; display: inline-block; background:rgba(234, 179, 8, 0.2);}
.red{padding: 2px 10px; border-radius:20px; color: rgba(239, 68, 68, 0.1); display: inline-block; background:rgba(239, 68, 68, 0.1);}
.upload_new_application.inProcess table td {padding:10px 5px;}
.notepad{ display: block; text-align: center;}
.notepad img{padding:100px 0 50px;}
.confirm_heading{font-size:20px !important; line-height:26px!important;
  color: #000!important; font-weight: bold!important;font-family: "Inter Tight", sans-serif;}
.pb-10{ padding-bottom: 100px!important;}
.py-10{ padding: 100px 0 50px;}
.top_deatils{ padding:30px 20px;}
.form-control{font-family: "Inter Tight", sans-serif;}
.send_back{ display: inline-block; padding:6px 20px; border-radius: 8px; cursor: pointer; font-size: 16px; line-height:20px; color:rgba(117, 117, 117, 1);
  text-align: center; font-family: "Inter Tight", sans-serif; border: 1px solid rgba(224, 227, 226, 1); }
.view_btn{ display: inline-block; padding:3px 10px; border-radius: 8px; cursor: pointer; font-size: 16px; line-height:20px; color:rgba(117, 117, 117, 1);
    text-align: center; font-family: "Inter Tight", sans-serif; border: 1px solid rgba(224, 227, 226, 1); }
.muraba td{ border-bottom:1px solid rgba(242, 242, 242, 1);}
.button{font-family: "Inter Tight", sans-serif;}
.h-75px{ height: 75px;}
.form-select, .form-control{ font-size: 14px;font-family: "Inter Tight", sans-serif;}
.margin-bottom{ margin-bottom: 20px;}
.verticle{ vertical-align: middle;}
.time{ width:50px; font-size: 13px; line-height: 17px; color: #000;}